.displayNone {
    display: none;
}

.cursorPoint {
    cursor: pointer;
}

.siteFooter {
    background-color: #f6f7f8;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.footerContainer {
    margin: 40px 165px;
    display: flex;
    justify-content: space-between;
}

.footerLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    padding: 5px 0 0 15px;
    letter-spacing: -1.5px;
    width: 150px;
}

.footerSection,
.sectionContent {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-weight: 900;
    font-size: 24px;
    margin: 20px 0px;
}

.pageLink,
.telInfo {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.socialIconGroup {
    display: flex;
    width: 50%;
    justify-content: space-between;
}