.progressControlContainer {
    height: 0px;
}

.cursorPoint {
    cursor: pointer;
    margin: 0px 10px;
}

.buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.next,
.nextFull,
.prev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
}

.next {
    background-color: #F67599;
    grid-column: 3/4;
}

.prev {
    color: black;
    background-color: #fff;
    grid-column: 1/2;
}

.nextFull {
    background-color: #F67599;
    grid-column: 1/4;
    width: 100%;
}