.registerTitle {
    font-weight: 900;
    font-size: 24px;
}

.progressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px 0px;
}

.progressGroup {
    display: flex;
}



.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 16px;
}



.progressLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin-left: 10px;
    font-size: 16px;
}

.progressBar {
    background-color: gray;
    width: 60px;
    height: 1px;
}

.displayNone {
    display: none;
}