.form {
    width: 100%;
}

.formTitle {
    font-size: 24px;
    font-weight: 900;
}

.formBody {
    height: 300px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputLabel {
    margin: 5px 0px;
}


.col {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0px;
}

.inputGroupTitle {
    margin-right: 20px;
    color: gray;
    font-size: 12px;
}

.inputGroupName,
.inputGroupCardNum {
    grid-column: 1/3;
}

.inputGroupExp {
    grid-column: 1/2;
    margin-right: 10px;
}

.inputGroupCvc {
    margin-left: 10px;
}