@use '../../../src/mixin';

.site__footer {
    margin-top: 120px;
    padding: 4rem 0;
    width: 100%;
    background-color: var(--footer-bgColor);

    .footer__container {
        display: flex;
        justify-content: space-between;

        .footer__logo__container {
            width: 170px;
            margin: auto 0;

            img {
                @include mixin.img-setting(var(--logo-img), 100%);
            }
        }

        .section__title {
            @include mixin.font-setting(1.5rem, 700, var(--font-color));
        }

        .page__link,
        .tel__info {
            @include mixin.font-setting(1rem, 400, var(--footer-font-color));
        }

        .section__content {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .social__icon__group {
            display: flex;
            gap: 20px;

            .social__icon {
                height: 24px;

                img {
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .site__footer {
        display: none;
    }
}